#frases h1{
       color: brown;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#frases h2{
    color: rgb(147, 165, 42);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#frases h3{
    color: rgb(165, 91, 42);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#frases h4{
    color: rgb(165, 130, 42);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#frases h5{
    color: rgb(157, 42, 165);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#frases h6{
    color: rgb(42, 118, 165);
    font-family: 'Times New Roman', Times, serif;
}


#frases2 h1{
    color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#frases2 h2{
    color: rgb(182, 121, 42);
    font-family: Arial, Helvetica, sans-serif;
}
#frases2 h3{
    color: rgb(69, 40, 2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#frases2 h4{
    color: rgb(41, 24, 2);
    font-family: cursive;
}
#frases2{
    background-color: gray;
}
#frases{
    background-color: violet;
}